table {
    width: 520px;
    height: 500px;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: auto;
    font-size: 25px;
}

td {
    width: 70px;
    height: 70px;
}

table tr:first-child td:nth-child(odd),
table tr:first-child td:nth-child(even),
table tr:last-child td:nth-child(odd),
table tr:last-child td:nth-child(even),
table tr:nth-child(even) td:first-child,
table tr:nth-child(odd) td:first-child,
table tr:nth-child(even) td:last-child,
table tr:nth-child(odd) td:last-child {
    background: grey; 
    text-align: center;
    border: 2px solid black;
    width: 15px;
    height: 15px;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background: black;
}

table tr:first-child td:first-child,
table tr:first-child td:last-child,
table tr:last-child td:first-child,
table tr:last-child td:last-child {
    background: white;
    border: none;
}
